.page-erreur{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .erreur__contenu{
        text-align: center;

        a {    
            .erreur__boutton {
                cursor: pointer;
                margin: var(--spacing-md) 0;
                background-color: var(--color-background-secondary);
                border:none;
                border-radius: 20px;
                
                color: var(--color-white);
                text-transform: uppercase;
                padding: var(--spacing-sm);
    
                transition: all 0.5s $ease-out-expo;
    
                @media screen and (max-width: $breakpoint-xs) {
                    font-size: var(--font-size-content);
                }
    
                 div{
                    width:85%;
                    height:2px;
                    background-color: var(--color-background-primary);
                    margin:var(--spacing-xs);
                    padding:0 var(--spacing-xl);
    
                    @media screen and (max-width: $breakpoint-sm) {
                        padding:0 var(--spacing-lg-bplg);
                    }
    
                    @media screen and (max-width: $breakpoint-xs) {
                        padding:0 var(--spacing-lg-bpsm);
                    }
                }
                
                &:hover {
                    background-color: var(--color-primary);
                }
            }
        }
    }
}