.index {
    .wrapper {
        .presentation {
            width: 80%;
            height: 90vh;
            margin: auto;
            overflow-y: hidden;

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            @media screen and (max-width: $breakpoint-sm) {
                flex-direction: column-reverse;
                margin-left: 10vw;
                height: 100%;

                padding: var(--spacing-sm) 0 70px 0;
            }

            @media screen and (max-width: $breakpoint-xs) {
                width: 100%;
                margin: 0;
            }

            .aPropos {
                padding-right: var(--spacing-lg);
                text-align: justify;

                @media screen and (max-width: $breakpoint-sm) {
                    padding: var(--spacing-sm);
                    margin-top: -20vh;
                    margin-right: auto;
                    width: 80%;
                    z-index: 2;

                    background-color: rgba($color: #000000, $alpha: 0.7);
                    border-radius: 10px;


                }

                @media screen and (max-width: $breakpoint-xs) {
                    width: 90%;
                    margin: 0;
                    background: none;
                }

                .ctaPropos {
                    button {
                        margin-right: 10px;
                    }
                }
            }

            .photoAudrey {
                width: 40%;

                border-radius: 0 0 0 100px;

                @media screen and (max-width: $breakpoint-md) {
                    border-radius: 0 0 0 50px;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    width: 60%;
                    margin-left: 18vw;

                    opacity: 0.8;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    width: 55%;
                    margin-left: 0;
                }
            }
        }
    }
}