.index {
    .wrapper {
        .presentation {
            width: 80%;
            height: 90vh;
            margin: auto;
            overflow-y: hidden;

            display: flex;
            align-items: center;
            justify-content: center;

            .aPropos {
                padding-right: var(--spacing-lg);
                text-align: justify;
            }
        }
    }
}