.swiper-container{
    padding:var(--spacing-lg) 0;
    h3{
        color:var(--color-white);
    }
    
    .swiper-wrapper{         
        padding-bottom:var(--spacing-sm);
        .swiper-slide{   
            position:relative; 
            

            .decoSlide{
                position:absolute;
                bottom:-15px;
                right:-30px;

                width:15%;
            }
            
            .capacite{
                background-color:var(--color-white);
                height:365px;
                .iconSlide{
                    position:relative;

                    width:100%;
                    height:365px;
                    display:flex;
                    justify-content: center;
                    align-items: center;

                    .decoIcon{
                        position:absolute;
                        bottom:13%;

                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        width:80%;

                        img{
                            display: block;
                            width:30%;
                        }

                    }
                }
            }

            .projet, .prog, .nihilo__slide, .hollow__slide{
                img, video{
                    display:block;
                    height:466px;
                    object-fit: cover;

                    border:none;
                    border-radius: 0;
                }
            }

            .projet, .capacite, .prog, .nihilo__slide, .hollow__slide{
                overflow: hidden;
                border-radius: 20px;
                border:var(--color-secondary) 10px double;

                .resumeProjet, .textCapacite, .prog__description, .description{
                    background-color: rgba(0,21,36,0.8);
                    color:var(--color-white);
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;

                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    opacity:0;
                    border-radius: 20px;

                    h3{
                        font-size:3.12rem;
                    }
                    p{
                        padding:0 var(--spacing-xs);
                        margin:var(--spacing-sm) 0 0 0;
                        font-size:1.25rem;
                    }
                }  

                &:hover{
                    .resumeProjet, .textCapacite, .prog__description, .description{
                        cursor: pointer;
                        transition: all 0.3s ease-out;
                        opacity:1;
                        a{
                            color:var(--color-background-primary);
                        }
                    }
                }
                
            }
        }
    } 
    .swiper-pagination-bullet{
        width:15px;
        height:15px;

        background-color: var(--color-secondary);
    }
}