.swiper-container {
    padding: var(--spacing-md) 0;
    width: 80%;

    .swiper-wrapper {

        .swiper-slide {
            width: 30%;
        }
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;

        background-color: var(--color-quinary);
    }
}