.contact {
    background-color:var(--color-white);
    border-radius: 30px;
    border:5px solid var(--color-secondary);

    margin-top:5%;
    padding:var(--spacing-xs);

    @media screen and (max-width: $breakpoint-lg) {
        margin:10% auto;
    }

    @media screen and (max-width: $breakpoint-md) {
        margin:18% auto;
    }

    @media screen and (max-width: $breakpoint-sm) {
        margin:25% auto;
    }

    @media screen and (max-width: $breakpoint-xs) {
        margin:45% auto;
    }
 
    .contenuContact {
        position: relative;
        border-radius: 23px;
        border:5px solid var(--color-secondary);
        padding:var(--spacing-xl) 0;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-lg) {
            padding:var(--spacing-lg-bplg) 0;
        }

        @media screen and (max-width: $breakpoint-md) {
            padding:var(--spacing-lg-bpmd) 0;
        }
        .informations {
            text-align: center;
            width: 100%;

            @media screen and (max-width: $breakpoint-lg) {
               margin-top:5%; 
            }
            .titre {
                padding-bottom: 5%;
            }

            .information__contact {
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin:auto;    
                
                @media screen and (max-width: $breakpoint-lg) {
                    width: 40%;
                }

                @media screen and (max-width: $breakpoint-md) {
                    width: 50%;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    width: 65%;
                }

                @media screen and (max-width: $breakpoint-xs) {
                   flex-direction: column;
                }
            }
            a:hover{
                text-decoration: underline;
            }
        }

        .decoContact{
            width:115%;
            position:absolute;
            bottom:-7%;
            display: flex;
            justify-content: space-between;
            
            img{
                @media screen and (max-width: $breakpoint-md) {
                    width:10%;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    width:15%;
                }
            }
        }

        a {
            position: relative;

        .bouttonCV {
            cursor: pointer;
            margin: var(--spacing-md) 0;
            background-color: var(--color-background-secondary);
            border:none;
            border-radius: 20px;
            
            color: var(--color-white);
            text-transform: uppercase;
            padding: var(--spacing-sm);

            transition: all 0.5s $ease-out-expo;

            @media screen and (max-width: $breakpoint-xs) {
                font-size: var(--font-size-content);
            }

             div{
                width:85%;
                height:2px;
                background-color: var(--color-background-primary);
                margin:var(--spacing-xs);
                padding:0 var(--spacing-xl);

                @media screen and (max-width: $breakpoint-sm) {
                    padding:0 var(--spacing-lg-bplg);
                }

                @media screen and (max-width: $breakpoint-xs) {
                    padding:0 var(--spacing-lg-bpsm);
                }
            }
            
            &:hover {
                background-color: var(--color-primary);
            }
        }
    }
    }    
}
