.contactPage {
    .contact {
        width: 50%;
        height: 100vh;
        margin: auto;

        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .revContact {
            margin: var(--spacing-lg) 0 10px 0;
        }

        .informationContact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;

            @media screen and (max-width: $breakpoint-md) {
                width: 80%;
            }

        }
    }
}