//////////////////////
.loader-wrapper{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: var(--color-background-primary);
    display:flex;
    justify-content: center;
    align-items: center;

    transition: all 1s $ease-out-expo;
    z-index: 999;

    .loader-42 {
	width: 5em;
	height: 1em;
	border: .05em currentcolor solid;
	border-radius: .1em;
	background: linear-gradient(-60deg, transparent 0%, transparent 50%, currentcolor 50%, currentcolor 75%, transparent 75%, transparent);
	background-size: 1em 2em;
	background-position: 0 0;
	animation: loader-42 0.8s infinite linear;
}
@keyframes loader-42 {
	from { background-position: 0 0; }
	to { background-position: -2em 0; }
}

.loaderFade &{
    transition: all 1s $ease-out-expo;
    opacity: 0;
}

.decorationLoader{
    position:absolute;
    bottom : 0;
    left:0;

    width:100vw;
    display:flex;
    justify-content: space-between;
}
}




//////////////////////