.projets {
    margin-top:10%;

    @media screen and (max-width: $breakpoint-md) {
        margin-top:15%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        margin-top:35%;
    }
    .card {
        margin: 10.5% auto;
        .card__contenu {
            display: flex;
            align-items: center;

            margin: auto;
            display: flex;
            justify-content: center;

            @media screen and (max-width: $breakpoint-sm) {
                flex-direction: column;
            }
        }

        img {
            border-radius: 20px;
            border:20px var(--color-black) double;
            width: 491px;
            height: 491px;
            object-fit: cover;

            @media screen and (max-width: $breakpoint-sm) {
                width:350px;
                height:350px;

            }
        }

        .card__texte {
            display: flex;
            justify-content: center;
            flex-direction: column;

            width:65%;

            @media screen and (max-width: $breakpoint-sm) {
                text-align: center;
                width:100%;
            }
            
            &:nth-child(even){
                margin-left:5%;
                h2{
                    text-align: left;
                }
                @media screen and (max-width: $breakpoint-sm) {
                    margin:0;
                    h2, p{
                        width:100%;
                        text-align: center;
                    }
                }   
            }

            &:nth-child(odd){
                margin-right:5%;
                h2,p{
                    text-align: right;
                }

                a, p{
                    margin-left:auto;

                    @media screen and (max-width: $breakpoint-sm) {
                        margin:0;
                    }
                }

                @media screen and (max-width: $breakpoint-sm) {
                    margin:0;
                    h2, p{
                        width:100%;
                        text-align: center;
                    }
                    order:2;
                }  
            }

            a {    
                .bouttonProjets {
                    cursor: pointer;
                    margin: var(--spacing-md) 0;
                    background-color: var(--color-background-secondary);
                    border:none;
                    border-radius: 20px;
                    
                    color: var(--color-white);
                    text-transform: uppercase;
                    padding: var(--spacing-sm);
        
                    transition: all 0.5s $ease-out-expo;
        
                    @media screen and (max-width: $breakpoint-xs) {
                        font-size: var(--font-size-content);
                    }
        
                     div{
                        width:85%;
                        height:2px;
                        background-color: var(--color-background-primary);
                        margin:var(--spacing-xs);
                        padding:0 var(--spacing-xl);
        
                        @media screen and (max-width: $breakpoint-sm) {
                            padding:0 var(--spacing-lg-bplg);
                        }
        
                        @media screen and (max-width: $breakpoint-xs) {
                            padding:0 var(--spacing-lg-bpsm);
                        }
                    }
                    
                    &:hover {
                        background-color: var(--color-primary);
                    }
                }
            }

            p {
                width:70%;
                margin: 0;
                color:var(--color-black);
            }

            .card__info {
                font-weight: var(--fw-bold);
                padding-bottom: 3%;
            }

            .card__resume {
                font-size: var(--font-size-h4-mobile);

                @media screen and (max-width: $breakpoint-xs) {
                    font-size: var(--font-size-content-responsive);   
               }
            }
        }
    }
    .separateur{
        display:block;
        margin:auto;
    }
}