.projets {
    margin-top:10%;
    .card {
        margin: 10.5% auto;
        .card__contenu {
            display: flex;
            align-items: center;

            margin: auto;
            display: flex;
            justify-content: center;
        }

        img {
            border-radius: 20px;
            border:20px var(--color-black) double;
            width: 491px;
            height: 491px;
            object-fit: cover;
        }

        .card__texte {
            display: flex;
            justify-content: center;
            flex-direction: column;

            width:65%;
            
            &:nth-child(even){
                margin-left:5%;
                h2{
                    text-align: left;
                }
            }

            &:nth-child(odd){
                margin-right:5%;
                h2,p{
                    text-align: right;
                }

                a, p{
                    margin-left:auto;
                }
            }

            a {    
                .bouttonProjets {
                    cursor: pointer;
                    margin: var(--spacing-md) 0;
                    background-color: var(--color-background-secondary);
                    border:none;
                    border-radius: 20px;
                    
                    color: var(--color-white);
                    text-transform: uppercase;
                    padding: var(--spacing-sm);
        
                    transition: all 0.5s $ease-out-expo;
    
        
                    div{
                        width:85%;
                        height:2px;
                        background-color: var(--color-background-primary);
                        margin:var(--spacing-xs);
                        padding:0 var(--spacing-xl);
                    }
                    
                    &:hover {
                        background-color: var(--color-primary);
                    }
                }
            }

            p {
                width:70%;
                margin: 0;
                color:var(--color-black);
            }

            .card__info {
                font-weight: var(--fw-bold);
                padding-bottom: 3%;
            }

            .card__resume {
                font-size: var(--font-size-h4-mobile);

            }
        }
    }
    .separateur{
        display:block;
        margin:auto;
    }
}