.has-js {
    [data-scrolly='FlipfromBottom'] {
        opacity: 0;
        transition: all 0.5s ease-out;
        transform: translateY(40%);

        @media screen and (max-width: $breakpoint-sm) {
            opacity: 1;
            transform: translateY(0);
        }
        
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='Opacity'] {
        opacity: 0;
        transition: all 1s ease-out;

        @media screen and (max-width: $breakpoint-sm) {
            opacity: 1;
        }
        
        &.is-active {
            opacity: 1;
        }
    }
}
