.cora {
    //--------------------------Section Titre---------------------------------------------------
    .cora__design {
        img {
            height: 500px;
            object-fit: cover;
        }
    }

    .bouttons{
        display:flex;
        justify-content: space-between;

        width:70%;
        margin:auto;

        @media screen and (max-width: $breakpoint-lg) {
            width:90%;            
        } 

        @media screen and (max-width: $breakpoint-md) {
            width:50%;            
            flex-direction: column;
        } 

        @media screen and (max-width: $breakpoint-sm) {
            width:70%;            
        } 
    }
}
