.cora {
    //--------------------------Section Titre---------------------------------------------------
    .cora__design {
        img {
            height: 500px;
            object-fit: cover;
        }
    }

    .bouttons{
        display:flex;
        justify-content: space-between;

        width:70%;
        margin:auto;
    }
}
