.monty {
    article{
        img:not(.decoSlide){
            width:60%;
        }
    }

    .monty__sketch{
        img{
            height:466px;
            object-fit: cover;
        }
    }

    .monty__slide{
        img{
            width:100% !important;
        }
    }
}
