.cora, .nihilo, .hollowknight, .FaitEnUn, .monty, .temple, .portfolio, .holora, .mega{

    @media screen and (max-width: $breakpoint-lg) {
        margin-top: 7%;
    }

    @media screen and (max-width: $breakpoint-md) {
        margin-top: 15%;
    }

    @media screen and (max-width: $breakpoint-sm) {
        margin-top: 17%;
    }

    @media screen and (max-width: $breakpoint-xs) {
        margin-top: 33%;
    }

    .sketchfab-embed-wrapper{
        iframe{
            width:800px;
            height:500px;
        }
    }

    .video {
        padding-bottom: 50%;
        margin: auto;
        img{
            width:100%;
        }
    }
    
    .bouttonSolo{
        width:100%;
        display:flex;
        justify-content: center;
    }
    
    a {
        position: relative;

        button {
            cursor: pointer;
            margin: var(--spacing-md) 0;
            background-color: var(--color-background-secondary);
            border:none;
            border-radius: 20px;
            
            color: var(--color-white);
            text-transform: uppercase;
            padding: var(--spacing-sm);

            transition: all 0.5s $ease-out-expo;

            @media screen and (max-width: $breakpoint-xs) {
                font-size:var(--font-size-content-mobile);
            } 

            div{
                width:85%;
                height:2px;
                background-color: var(--color-background-primary);
                margin:var(--spacing-xs);
                padding:0 var(--spacing-xl);

                @media screen and (max-width: $breakpoint-xs) {
                    padding:0 var(--spacing-lg);
                } 
            }
            
            &:hover {
                background-color: var(--color-primary);
            }
        }
    }

    .bandeDeco{
        width:96%;
        margin:var(--spacing-md) auto;
        padding:var(--spacing-md);

        border-radius: 15px;
        border:var(--color-secondary) 5px solid;

        @media screen and (max-width: $breakpoint-md) {
            margin:var(--spacing-sm) auto;
        }
    }

    article{
        margin:7% 0;
        background-color: var(--color-white);
        border-radius: 20px;
        border:var(--color-secondary) 5px solid;

        img:not(.decoSlide){
            border-radius: 20px;
            border:var(--color-secondary) 10px double;

            display:block;
            margin:auto;
        }
        
        h3{
            text-align: left;
            font-size:var(--font-size-sous-titre-single);
            padding-top:var(--spacing-lg);

            @media screen and (max-width: $breakpoint-md) {
                font-size:var(--font-size-sous-titre-single-responsive);
                padding:0;
                margin-top:5%;
            }
        }

        span{
            font-family: var(--font-primary);
            font-weight: var(--fw-xbold);
        }
    }
    .single--hero{
        
        h2{
            text-align: left;
            font-size:var(--font-size-sous-titre-single);
            margin:0;
            padding-bottom:var(--spacing-sm);

            @media screen and (max-width: $breakpoint-md) {
                font-size:var(--font-size-sous-titre-single-responsive);
                padding:0;
                margin-top:5%;
            }
        }
        .membresProjet{
            padding-top:var(--spacing-md);
            display:flex;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
            }
        
            .membres{
                padding-left:var(--spacing-md);
                width:75%;

                @media screen and (max-width: $breakpoint-md) {
                   margin-top: 5%;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    width:100%;
                    padding:0;
                }

                a{
                    @media screen and (max-width: $breakpoint-xs) {
                        font-size:var(--font-size-content-responsive) ;
                    }
                }

                ul{
                    list-style-type: none;
                    margin:0;
        
                    li, a {
                        font-family: var(--font-secondary);
                        font-weight: var(--fw-bold);
                        font-size:var(--font-size-content);
                        padding-bottom: 2%;
            
                        &::before {
                            content: '';
                            display: inline-block;
                            height: 25px;
                            width: 21px;
                            margin-right:var(--spacing-sm);
            
                            background-image: url(../../assets/images/decorations/bullet.png);
                            background-size: contain;
                            background-repeat:no-repeat ;
                            background-position: center;
                        }
            
                        @media screen and (max-width: $breakpoint-lg) {
                            font-size: var(--font-size-h4-mobile);
                        }
            
                        @media screen and (max-width: $breakpoint-sm) {
                            font-size: var(--font-size-content-responsive);
                        }
            
                        @media screen and (max-width: $breakpoint-xs) {
                            font-size: var(--font-size-content-mobile);
                        }
                    }
                }
            }
        }
    }
}
