.hollowknight {
    .hollow__anim{
        h3{
            color:var(--color-black);
        }
    }
    .hollow__references {
        .hollow__referencesGrid {
            display: flex;
            flex-wrap: wrap;

            border-radius: 15px;
            border:var(--color-secondary) 15px double;
            overflow: hidden;

            width: 70%;
            margin: auto;

            @media screen and (max-width: $breakpoint-xs) {
                width: 100%;
            }
            img {
                width: 25%;
                height: 200px;
                object-fit: cover;

                border-radius: 0 !important;
                border:none !important;

                @media screen and (max-width: $breakpoint-md) {
                    height: 150px;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    height: 100px;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    margin: 0;
                    height: 75px;
                }
            }
        }
    }

    .hollow__animation{
        .hollow__slide{
        video, img{
            height:400px!important;

            @media screen and (max-width: $breakpoint-lg) {
                height:300px!important;
            }

            @media screen and (max-width: $breakpoint-md) {
                height:210px!important;
            }

            @media screen and (max-width: $breakpoint-sm) {
                height:150px!important;
            }

            @media screen and (max-width: $breakpoint-xs) {
                height:130px!important;
            }
        }
    }
    }
    
}