.temple {

    article{
        .sketchfab-embed-wrapper{
            iframe{
                @media screen and (max-width: $breakpoint-lg) {
                    width:500px;
                } 

                @media screen and (max-width: $breakpoint-md) {
                    width:78vw;
                } 

                @media screen and (max-width: $breakpoint-sm) {
                    width:75vw;
                } 

                @media screen and (max-width: $breakpoint-xs) {
                    width:100%;
                } 
            }
            
        }
    }

    .sketchs{
        display:flex;
        flex-wrap: wrap;
        @media screen and (max-width: $breakpoint-lg) {
            img{
                width:45%;
            }
        } 

        @media screen and (max-width: $breakpoint-xs) {
            img{
                width:100%;
            }
        } 
    }
    
    .maison, .village{
        width:50%;
        margin:auto;
    }

    @media screen and (max-width: $breakpoint-md) {
        .membresProjet .temple, .maison, .village{
            width:98%;
            margin:auto;
        }
    } 
}
