.portfolio{
    .design{
        display:flex;
        img{
            width:48%;
            height:500px;
            object-fit: cover;
        }
    }

    .portfolio__prog{
        .bouttons{
            width:65%;
            margin:auto;
        }
    }
}