.cora {
    //--------------------------Section Titre---------------------------------------------------
    .cora__hero {
        
    }

    .cora__design {
        img {
            height: 500px;
            object-fit: cover;
        }
    }

    .cora__prog {
        img {
            width: 40%;
        }
    }

    .Cora_Site, .cora__prog {
        a {
            .bouttonCora {
                position: relative;
                cursor: pointer;
                margin: var(--spacing-md) auto;

                background-color: var(--color-quaterny);
                border: dashed 5px var(--color-primary);
                border-radius: 10px;
                display: flex;
                align-items: center;

                font-family: var(--font-secondary);
                color: var(--color-white);
                text-transform: uppercase;
                padding: 22px 43px 22px 31px;

                transition: all 0.5s $ease-out-expo;

                @media screen and (max-width: $breakpoint-lg) {
                    margin: 5% auto;
                }

                @media screen and (max-width: $breakpoint-md) {
                    font-size: var(--font-size-content-responsive);
                }

                @media screen and (max-width: $breakpoint-sm) {
                    padding: 10px 20px;
                }

                @media screen and (max-width: 425px) {
                    font-size: var(--font-size-content-mobile);
                }

                &:hover {
                    background-color: var(--color-primary);
                    border-color: var(--color-quaterny);
                    box-shadow: inset 0 5px 10px
                        var(--color-background-septenary);

                    img {
                        left: 92%;
                    }
                }

                img {
                    width: 25%;
                    transition: all 0.5s $ease-out-expo;
                    position: absolute;
                    top: -5%;
                    left: 90%;

                    @media screen and (max-width: $breakpoint-md) {
                        width: 30%;
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        width: 25%;
                    }
                }
            }
        }
    }
}
