button {
    background-color: var(--color-background-tertiary);
    border: none;
    border-radius: var(--spacing-xs);
    padding: var(--spacing-sm);
    transition: all 0.3s ease-in-out;
    color: var(--color-white);

    &:hover {
        background-color: var(--color-background-quaternary);
        cursor: pointer;

        transition: all 0.3s ease-in-out;
    }

    @media screen and (max-width: $breakpoint-md) {
        padding: 10px 15px;
    }
}