.swiper-container {
    // width: 45%;
    margin: 0;
    border-radius: var(--spacing-sm);

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;

        background-color: var(--color-white);
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: var(--color-background-tertiary);
        background-color: var(--color-black);
        opacity: 0.8;
        height: 100%;
        width: 5%;
        margin: 0;
        top: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-disabled {
        opacity: 0.5;
        pointer-events: auto !important;

    }

    .swiper-slide {
        height: 300px;

        @media screen and (max-width: $breakpoint-lg) {
            height: 300px;
        }

        img {
            width: inherit;
            height: inherit;
        }
    }
}