.projetsPage,
.projetPage {
    h2 {
        position: relative;
        background: none;
        color: var(--color-black);
        z-index: 2;

        &.Tier01_Padding::before,
        &.Tier02_Padding::before,
        &.Tier03_Padding::before,
        &.Tier04_Padding::before {
            content: "";
            background-color: var(--color-white);
            border-radius: var(--spacing-sm) 0 0 var(--spacing-sm);
            filter: drop-shadow(10px 10px 0px var(--color-black));

            position: absolute;
            top: 0;
            right: 0;

            margin: 0 auto;
            width: 85%;
            height: var(--spacing-lg);

            z-index: -1;

            @media screen and (max-width: $breakpoint-md) {
                height: var(--spacing-md);
            }
        }

        &.Tier02_Padding::before {
            width: 80%;
        }

        &.Tier03_Padding::before {
            width: 75%;
        }

        &.Tier04_Padding::before {
            width: 70%;
        }
    }
}