.Tier01_Padding {
    background-color: var(--color-primary);
}

.Tier02_Padding {
    background-color: var(--color-secondary);
}

.Tier03_Padding {
    background-color: var(--color-tertiary);
}

.Tier04_Padding {
    background-color: var(--color-quaterny);
}