footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;

    color: var(--color-primary);

    .mediassociaux {
        display: flex;
        padding-left: var(--spacing-md);

        a {
            color: var(--color-background-tertiary);
            margin: 0 var(--spacing-xs);
            background-color: var(--color-white);
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--color-background-quaternary);

                transition: all 0.3s ease-in-out;
            }

            svg {
                margin: auto;
            }
        }
    }

    .copyright {
        font-size: 1.25rem;
    }
}