footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-primary);

    .mediassociaux {
        display: flex;
        padding-left: var(--spacing-md);

        a {
            color: var(--color-primary);
            padding: 0 var(--spacing-xs);

            &:hover {
                color: var(--color-white);

                transition: all 0.3s ease-in-out;
            }
        }
    }

    .copyright {
        font-size: 1.25rem;
    }
}