/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2 {
    color: var(--color-white);
    font-family: var(--font-primary);
    margin: 0;
    letter-spacing: 3px;
}

h1 {
    font-size: var(--font-size-h1);

    @media screen and (max-width: $breakpoint-lg) {
        font-size: var(--font-size-h1-responsive);
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h1-responsive);
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: var(--font-size-h1-mobile);
    }
}

h2 {
    font-size: var(--font-size-h2);

    @media screen and (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h2-responsive);
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: var(--font-size-h2-mobile);
    }
}