/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;
    font-size: var(--font-size-liens);
    color: var(--color-black);

    @media screen and (max-width: $breakpoint-md) {
        font-size: var(--font-size-content-responsive);
    }

    @media screen and (max-width: $breakpoint-xs) {
        font-size: var(--font-size-content-mobile);
    }
}