/* ==========================================================================
     NAVIGATION PRINCIPALE
     ========================================================================== */

.navPrincipale {
    position: fixed;
    top: 20%;
    left: 12.3%;

    @media screen and (max-width: $breakpoint-xs) {
        display: none;
    }

    .navigationListe {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 0;
        height: 425px;

        margin: 0;
        padding: 0;

        @media screen and (max-width: $breakpoint-md) {
            height: 350px;
        }

        li {
            transform: rotate(-90deg);
            transform-origin: bottom center;

            .activePage {
                padding-bottom: var(--spacing-md);
                background-color: var(--color-white);
            }

            a {

                padding: var(--spacing-xs) var(--spacing-md);
                border-radius: 10px 10px 0 0;
                background-color: var(--color-background-secondary);

                transition: all 0.3s ease-in-out;

                &:hover {
                    padding-top: var(--spacing-sm);
                    transition: all 0.3s ease-in-out;
                }

                @media screen and (max-width: $breakpoint-md) {
                    padding: var(--spacing-xs) var(--spacing-sm);
                }
            }
        }
    }
}

/* ==========================================================================
     NAVIGATION MOBILE
     ========================================================================== */

.navMobile {
    position: absolute;
    bottom: 4vh;
    left: 0;
    display: none;

    width: 90vw;
    margin: 0 5vw;
    background-color: var(--color-background-secondary);
    z-index: 99;

    @media screen and (max-width: $breakpoint-xs) {
        display: block;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        padding: 0;

        li {
            width: 23%;
            text-align: center;
        }

    }
}