/* ==========================================================================
     NAVIGATION PRINCIPALE
     ========================================================================== */

.navPrincipale {
    position: fixed;
    top: 0;
    left: 12.3%;

    .navigationListe {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 0;
        height: 100vh;

        margin: 0;
        padding: 0;


        li {
            transform: rotate(-90deg);
            transform-origin: bottom center;

            .activePage {
                padding-bottom: var(--spacing-md);
                background-color: var(--color-white);
            }

            a {
                padding: var(--spacing-xs) var(--spacing-md);
                border-radius: 10px 10px 0 0;
                background-color: var(--color-background-secondary);

                transition: all 0.3s ease-in-out;

                &:hover {
                    padding-top: var(--spacing-sm);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

/* ==========================================================================
     NAVIGATION MOBILE
     ========================================================================== */