/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    margin: auto;
    width: 50%;

    @media screen and (max-width: $breakpoint-md) {
        width: 90%;
    }
}