/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

   .wrapper {
    margin: auto;
    width: 80%;

    @media screen and (max-width: $breakpoint-md) {
        width: 100%;
    }
}