/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    margin: auto;
    width: 75%;
    background-color: var(--color-background-primary);

    @media screen and (max-width: $breakpoint-md) {
        width: 90%;
    }
}