/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #30FFDC;
    --color-secondary: #19B398;
    --color-tertiary: #69B33D;
    --color-quaterny: #8DFF4A;
    --color-quinary: #FF3E45;

    //couleur-background
    --color-background-primary: #242426;
    --color-background-secondary: #862629;
}