/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    //couleur-background
    --color-background-primary: #242426;
    --color-background-secondary: #B6B6B6;
    --color-background-tertiary: #FF3E45;
    --color-background-quaternary: #a73034;
}