/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xs: 425px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

:root {
    //-----SPACING 1920px----
    --spacing-xs: 5px;
    --spacing-sm: 20px;
    --spacing-md: 30px;
    --spacing-lg: 40px;
    --spacing-xl: 50px;

    //-----SPACING 1440px-----
    --spacing-lg-bplg: 125px;

    //----SPACING 768px-------
    --spacing-md-bpsm: 15px;
    --spacing-lg-bpsm: 90px;

    //----SPACING 375px -----
    --spacing-xs-bpxs: 5px;
}