/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Linden Hill', serif;

    --font-size-content: 2rem;


    --font-size-liens: 1.5rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 2rem;


    /// Grosseur des textes en responsive tablette
    --font-size-h1-responsive: 4rem;
    --font-size-h2-responsive: 3rem;

    --font-size-sous-titre-single-responsive: 1.4rem;

    --font-size-content-responsive: 1rem;

    /// Grosseur des textes en responsive tablette
    --font-size-h1-mobile: 2.7rem;
    --font-size-h2-mobile: 2rem;

    --font-size-content-mobile: 0.9rem;

    --font-size-infocard: 0.6rem;
    --font-size-infocard-responsive: 0.5rem;
}